<mat-sidenav-container autosize="true"
                       flex class="mat-sidenav-container">
  <mat-sidenav role="navigation"
               [@hideAnimation]="state" mode="side"
               opened="true"
               fixedInViewport="true">
    <mat-nav-list>
      <mat-list-item class="angular" (click)="toggleState()">
        <button mat-icon-button>
          <mat-icon
            svgIcon="angular"></mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/chat"
                     routerLinkActive="active"
                     [class.expanded]="isExpanded"
                     (click)="select('chat')">
        <button mat-icon-button
                (click)="select('chat')"
                [class.active]="selection.chat">
          <mat-icon>comment</mat-icon>
          <div [@option]="state" class="option">Gemini for Chat</div>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/text"
                     routerLinkActive="active"
                     [class.expanded]="isExpanded"
                     (click)="select('text')">
        <button mat-icon-button (click)="select('text')" [class.active]="selection.text">
          <mat-icon>edit</mat-icon>
          <div [@option]="state" class="option">Gemini for Text</div>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [@leftAnimation]="state" flex class="mat-sidenav-content">
    <mat-toolbar class="fixed-toolbar">
      <button mat-icon-button>
        <mat-icon svgIcon="gemini"
                  style="transform:scale(2)">
        </mat-icon>
      </button>
      <h1>{{ title }}</h1>
    </mat-toolbar>
    <main id="main-content" #mainContent class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
